<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- DAO 경로 지정하면 해당 DAO에서 인터페이스 추상 메서드 이름을 mapper에서 쿼리 id로 사용. -->
<mapper namespace="kr.happyjob.study.admsst.dao.FileuploadDao">

	<!-- 게시글 목록 조회 -->
    <select id="listFileupload" resultType="kr.happyjob.study.admsst.model.FileuploadModel">
            select tb.bd_no
                 , tb.bd_title
                 , tb.loginID
                 , ui.name
                 , tb.bd_contents
                 , tb.bd_date
                 , tb.bd_type
                 , tb.att_no
          from tb_board tb
                 inner join tb_userinfo ui on ui.loginID = tb.loginID          
         <where>
			<if test="(searchvalue != null) and (!searchvalue.equals(''))">
				<choose>
					<when
						test="searchtype eq 'seq'.toString()">
						and tb.bd_no = #{searchvalue}
					</when>
					<when
						test="searchtype eq 'title'.toString()">
						and tb.bd_title LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'writer'.toString()">
						and tb.loginID LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<otherwise>
						AND (
						              tb.bd_no = #{searchvalue}
						          or tb.bd_title LIKE CONCAT('%', #{searchvalue}, '%')
						          or tb.loginID LIKE CONCAT('%', #{searchvalue}, '%')
						        )
						
					</otherwise>
				</choose>				
			</if>		
		</where> 
		limit #{startnum},#{pagesize}
    </select>
    
    <!-- 게시글 전체 개수 -->
    <select id="searchlistcnt" resultType="int">
            select count(*)
            from tb_board tb
                   inner join tb_userinfo ui on ui.loginID = tb.loginID          
         <where>
			<if test="(searchvalue != null) and (!searchvalue.equals(''))">
				<choose>
					<when
						test="searchtype eq 'seq'.toString()">
						and tb.bd_no = #{searchvalue}
					</when>
					<when
						test="searchtype eq 'title'.toString()">
						and tb.bd_title LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<when
						test="searchtype eq 'writer'.toString()">
						and tb.loginID LIKE CONCAT('%', #{searchvalue}, '%')
					</when>
					<otherwise>
						AND (
						              tb.bd_no = #{searchvalue}
						          or tb.bd_title LIKE CONCAT('%', #{searchvalue}, '%')
						          or tb.loginID LIKE CONCAT('%', #{searchvalue}, '%')
						        )
						
					</otherwise>
				</choose>
			</if>
		</where> 
    </select>

	<!-- 게시글 단건 조회 -->
   <select id="selectFileupload" resultType="kr.happyjob.study.admsst.model.FileuploadModel">
            select tb.bd_no
                 , tb.bd_title
                 , tb.loginID
                 , ui.name
                 , tb.bd_contents
                 , tb.bd_date
                 , tb.bd_type
                 , tb.att_no
                 , at.att_ori
                 , at.att_nli
                 , at.att_mul
                 , at.att_size
          from tb_board tb
                 inner join tb_userinfo ui on ui.loginID = tb.loginID  
                 left outer join tb_attachment at on at.att_no = tb.att_no
         where tb.bd_no = #{bd_no}      
    </select>
    

   <!-- 첨부 파일 x, 게시글 등록 	
   		첨부 파일이 없으면 att_no값이 null로 넘어가도 된다. -->
    <insert id="insertFileupload" >
         <selectKey resultType="int" keyProperty="nbd_no" order="BEFORE">
            select ifnull(max(bd_no),0) + 1 from tb_board 
        </selectKey> 
          insert into tb_board
                        (
                           bd_no          
                         , bd_title   
                         , loginID   
                         , bd_contents
                         , bd_date  
                         , bd_type 
                         , att_no  
                        ) values (
                           #{nbd_no} 
                         <if test="filepro eq 'N'.toString()">
                         ,#{title} 
                         </if>
                         <if test="filepro eq 'Y'.toString()">
                         ,#{titlefile} 
                         </if>
                         ,#{loginID} 
                         <if test="filepro eq 'N'.toString()">
                         ,#{cont} 
                         </if>
                         <if test="filepro eq 'Y'.toString()">
                         ,#{contfile} 
                         </if>
                         ,now()
                         ,'1'
                         <if test="fileyn eq 'N'.toString()">
                         ,0
                         </if>
                         <if test="fileyn eq 'Y'.toString()">
                         ,(select ifnull(max(att_no),0) from tb_attachment )
                         </if>
                        )
    </insert>
    
    <!--  게시글 수정 -->
    <update id="updateFileupload">
          update tb_board
               set bd_date  = now()        
                  , loginID = #{loginID}   
                  <if test="filepro eq 'N'.toString()">
                  , bd_contents = #{cont} 
                  </if>
                  <if test="filepro eq 'Y'.toString()">
                  , bd_contents = #{contfile} 
                  </if>
                  <if test="filepro eq 'N'.toString()">
                  , bd_title  =  #{title} 
                  </if>
                  <if test="filepro eq 'Y'.toString()">
                  , bd_title  =  #{titlefile} 
                  </if>
                  <if test="fileyn eq 'N'.toString()">
                  , att_no  = 0
                  </if>
                  <if test="fileyn eq 'Y'.toString()">
                  , att_no  = (select ifnull(max(att_no),0) from tb_attachment )
                  </if>
          where bd_no = #{bd_no} 
    </update>
    
    <!-- 첨푸 파일 x, 게시글 삭제 -->
     <delete id="deleteFileupload">
          delete from tb_board
          where bd_no = #{bd_no} 
    </delete>   
    
    
    <!-- ========================================================================================================== -->
    <!-- 첨부파일 정보 삽입 -->
    <insert id="insertFileinfo">
         <selectKey resultType="int" keyProperty="att_no" order="BEFORE">
            select ifnull(max(att_no),0) + 1 from tb_attachment 
        </selectKey> 
          insert into tb_attachment
                        (
                           att_no          
                         , att_ori   
                         , att_date   
                         , att_nli
                         , att_mul  
                         , att_size
                        ) values (
                           #{att_no} 
                         ,#{file_nm} 
                         ,now()
                         ,#{loc_file_loc} 
                         ,#{file_loc} 
                         ,#{file_size} 
                        )
    </insert>
    
    <!-- 게시글 수정 시 , 원본 파일 삭제 -->
    <delete id="deleteFileinfobybdno">
          delete from tb_attachment
           where att_no = (
                                       select att_no 
                                        from tb_board
                                       where bd_no = #{bd_no}            
                                 )
    </delete>
    

    
</mapper>